*{
    margin: 0;
    padding: 0;
}
body{
    font-family: verdana;
}
/* header */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: sticky;
    background-color: rgb(30, 23, 47);
}
.header-nav{
    display: flex;
    justify-content: space-around;
}
#nav-div{
    display: flex;
    align-items: center;
}
.nav-a{
    margin-right: 15px;
    text-decoration: none;
    color:rgb(128, 125, 137);
}
.nav-a:hover{
    color: white;
}
#nav-btn{
    width: 130px;
    height: 40px;
    background: linear-gradient(to right, rgb(126, 68, 213), rgb(17, 121, 213));
    border: transparent;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
#nav-btn:hover{
    background: rgb(126, 68, 213);
}
/* section 1 */
.section-first{
    display: flex;
    position: relative;
    color: white;
}  
.section-left{
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    background-position: left;
    background-color: rgb(46, 37, 80);
}
#section1-aside{
    width: 400px;
}
.section-h2{
    font-size: 90px;
}
#section1-h4{
    margin-top: 40px;
    width: 600px;
    font-size: 30px;
    font-family: system-ui;
    font-weight: 400;
    color: white;
}
#section1-div-btn{
    margin-top: 40px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    width: 500px;
    border: 2px solid rgb(84, 78, 110);
    border-radius: 5px;
}
#section1-btn1{
    padding: 15px 40px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    border: transparent;
    border-radius: 5px;
    background-color: white;
    color: rgb(246, 73, 161);
}
#section1-btn1:hover{
    color: white;
    background-color: rgb(246, 73, 161);
}
#section1-btn2{
    padding: 15px 70px;
    padding-bottom: 20px;
    font-size: 20px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}
#section1-btn2:hover{
    background-color: white;
    color: black;
    border-color: black;
}
.section-rigth{
    padding: 150px 0px 50px 70px;
    display: flex;
    justify-content: left;
    align-items: end;
    width: 50%;
    background-position: right;
    background: url('../assents/img/hojasFondo.jpg');
    background-size: cover;
}
/* section2 */
.section-second{
    padding: 0px 180px; 
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 242, 247);
}
.section2-aside{
    display: flex;
    justify-content: space-around;
}
.aside-pinkColor{
    font-family: system-ui;
    font-weight: 500;
    color: rgb(244, 20, 134);
}
#aside-pinkColor-title{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-weight: 700;
}
#aside-pinkColor-special{
    margin-bottom: 30px;
    font-size: 62px;
    color: rgb(195, 82, 140);
}
#aside-subtitle{
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 600;
}
#section2-img{
    width: 600px;
}
#section2-aside-p{
    margin-bottom: 20px;
    width: 520px;
    font-size: 22px;
}
.section2-div-p{
   font-size: 22px;
}
/* section3 */
.section-third{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 23, 47);
    font-family: system-ui;
}
.section-third h2{
    margin-bottom: 40px;
    font-size: 80px;
    color: white;
}
.aside-buy-special-p{
    font-size: 22px;
}
#aside-p-special{
    margin-bottom: 15px;
    text-align: center;
    width: 300px;
}
#section3-p{
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 60px;
    width: 1000px;
    font-size: 22px;
    color: rgb(209, 206, 217);
}
.section3-aside-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.aside-buy{
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 25px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
    border-radius: 5px;
    background-color: white;
}
.aside-buy h3{
    margin-bottom: 10px;
    font-size: 22px;
}
.aside-buy .div-price{
    margin-bottom: 20px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    width: 320px;
    background-color: rgb(245, 245, 245);
}
.aside-buy #div-special{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p-dolar{
    margin-right: 2px;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.p-price{
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 50px;
}
.p-additional{
    font-size: 18px;
}
.div-p{
    margin-bottom: 15px;
}
.special-color{
    color:rgb(244, 20, 134);
}
#special-btn{
    color: white;
    background: linear-gradient(to right, rgb(236, 96, 168),rgb(244, 20, 134));
}
.section3-div-btn{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    width: 320px;
    background-color: rgb(245, 245, 245);
}
.btn-section3{
    margin: 10px 0px;
    padding: 18px 50px;
    font-size: 20px;
    border: transparent;
    border-radius: 8px;
    color: white;
    background-color: rgb(46, 37, 80);
}
/* fotter */
footer{
    padding: 20px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer span{
    color: rgb(244, 20, 134);
}
footer aside{
    display: flex;
}
footer aside div{
    margin-right: 10px;
}
/* mediacueris */
@media screen and (max-width: 1279px) {
    /* section1 */
    .section-left{
        padding-left: 20px;
    }
    #section1-h4{
        width: 500px;
    }
    #section1-div-btn{
        width: 450px;
    }
    #section1-btn1{
        margin-right: 5px;
    }
    /* section2 */
    .section2-aside{
        flex-direction: column;
    }
    #section2-aside-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section2-aside-p{
        text-align: center;
    }
    #div-laptop{
        display: flex;
        justify-content: center;
    }
    /* section3 */
    #section3-p{
        width: auto;
    }
}
@media screen and (max-width: 920px) {
    /* section1 */
    .section-first{
        flex-direction: column;
    }
    .section-left{
        padding: 0;
        padding-bottom: 20px;
        width: 100%;
    }
    .section-rigth{
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        justify-content: center;
    }
    .section-second{
        padding: 0px;
        padding-bottom: 20px;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    /* section1 */
    .section-left{
        padding: 0px;
        justify-content: start;
    }
    .section-rigth{
        padding: 0px;
        justify-content: start;
    }
    /* section2 */
    #aside-pinkColor-title{
        font-size: 60px;
    }
    #section2-img{
        width: 450px;
    }
    #aside-pinkColor-special{
        font-size: 50px;
    }
    #section2-aside-p{
        width: 450px;
        text-align: center;
    }
    /* section3 */
    .section-third h2{
        width: auto;
        text-align: center;
    }
    /* footer */
    footer aside{
        margin-top: 10px;
    }
}
@media screen and (max-width: 480px) {
    /* header */
    .header-nav{
        padding-bottom: 10px;
        flex-direction: column;
        align-items: center;
    }
    #nav-btn{
        margin-top: 5px;
    }
    /* section1 */
    .section-left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .section-h2{
        font-size: 60px;
    }
    #section1-h4{
        width: 350px;
    }
    #section1-div-btn{
        flex-direction: column;
    }
    #section1-div-btn{
        width: 300px;
    }
    #section1-btn1{
        margin-bottom: 5px;
        margin-right: 0px;
    }
    .section-rigth{
        padding: 0;
        width: 100%;
        justify-content: center;
    }
      /* section2 */
    #aside-pinkColor-title{
        font-size: 45px;
    }
    #section2-img{
        width: 340px;
    }
    #aside-pinkColor-special{
        font-size: 40px;
    }
    #section2-aside-p{
        width: 300px;
    }
    /* section3 */
    .aside-buy{
        margin-right: 0px;
    }
}